@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5e8ba;
}

#wrapper {
    height: 500px;
    width: 400px;
    margin: 200px auto;
    background-color: #1f2029;
    border-radius: 10px;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#wrapper h2 {
    text-align: center;
    color: #f5e8ba;
}

#wrapper input {
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 20px;
    height: 2.5em;
    width: 250px;
}

button {
    background-color: #ffeba7;
    border-radius: 4px;
    height: 2.5em;
    width: 70px;
    font-weight: 600;
    border: none;
    color: #102770;
}

button:hover {
    cursor: pointer;
}

#list {
    color: white;
    font-size: 28px;
    margin-top: 10px;
}

#list p {
    margin: 10px 0px;
}

#list p:hover {
    cursor: pointer;
}